//@import 'primeflex/primeflex.scss';

::ng-deep {
  .lesson-wrapper {
    h1, h2 {
      margin: 0;
    }

    p {
      font-size: 1.2rem;
      margin: 0 0 0.5rem 0;
    }
  }

  .p-orderlist-controls {
    display: none !important;
  }

  .p-orderlist .p-orderlist-list {
    border: none;
    overflow: visible;
  }

  .p-orderlist .p-orderlist-list .p-orderlist-item {
    //@include styleclass('shadow-4 border-round-2xl mt-4 p-4')
  }
}



