<div class="grid m-0 mx-2">
  <div class="col-12">
    <a class="p-button-sm p-button" routerLink="/courses/list">Back</a>
  </div>
  <div class="col-3 pt-0">
    <app-edit-course-modules-sidebar *ngIf="course?.modules && courseId" [modules]="course?.modules"
                                     [courseId]="courseId" [selectedLesson]="selectedLesson"></app-edit-course-modules-sidebar>
  </div>
  <div class="col-9 p-5 shadow-4 bg-white border-round">
    <app-edit-course-questions-list [lessonId]="lessonId" [moduleId]="moduleId"></app-edit-course-questions-list>
  </div>
</div>
