<div class="w-full">
  <p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let module of modules">
      <ng-template pTemplate="header">
        <div class="flex align-items-center justify-content-between w-full">
          <span class="vertical-align-middle">{{module.name}}</span>
          <div>
            <button pButton class="p-button-rounded p-button-sm p-button-outlined p-button" icon="pi pi-pencil"
                    (click)="openAddModuleModal($event ,module)"></button>
            <button pButton class="p-button-rounded p-button-sm p-button-outlined p-button mr-2" icon="pi pi-plus"
                    (click)="openAddLessonModal($event ,module)"></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <a *ngFor="let lesson of module.lessons" class="w-full lesson flex align-items-center"
             [routerLink]="lessonLink(module, lesson)">
          <span>{{lesson.name}}</span>
        </a>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>

<button pButton label="Add New Module" class="mt-4 ml-2" (click)="openAddModuleModal($event)"></button>
