<div class="w-full">
  <p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let module of modules">
      <ng-template pTemplate="header">
        <div class="flex align-items-center justify-content-between w-full">
          <span class="vertical-align-middle">{{module.name}}</span>
          <div>
            <button (click)="openAddModuleModal($event ,module)"
                    class="p-button-rounded p-button-sm p-button-outlined p-button" icon="pi pi-pencil"
                    pButton></button>
            <button (click)="openAddLessonModal($event ,module)"
                    class="p-button-rounded p-button-sm p-button-outlined p-button mr-2" icon="pi pi-plus"
                    pButton></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <a *ngFor="let lesson of module.lessons"
           [queryParams]="{moduleId: module._id, lessonId: lesson._id, courseId: courseId}"
           class="w-full lesson flex align-items-center"
           routerLink="./">
          <span>{{lesson.name}}</span>
        </a>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</div>

<button (click)="openAddModuleModal($event)" class="mt-4 ml-2" label="Add New Module" pButton></button>
